@model FISCA.Dominio.Entidades.PlanEstudio

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-warning bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Editar Plan de Estudio</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <input asp-for="IdPlan" hidden />
            <div class="p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Descripcion" class="form-control border shadow" />
                    <label asp-for="Descripcion" class="ms-2">Descripción</label>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IdCarrera" class="form-control border shadow" />
                    <label asp-for="IdCarrera" class="ms-2">Carrera</label>
                    <span asp-validation-for="IdCarrera" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CantidadAsignaturas" class="form-control border shadow" />
                    <label asp-for="CantidadAsignaturas" class="ms-2">Cantidad de Asignaturas</label>
                    <span asp-validation-for="CantidadAsignaturas" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-warning w-100">
                            <i class="bi bi-check-circle"></i> Guardar
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="PlanEstudio" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
