@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container text-center">
    <h1 class="display-6">Gestion de Asistencias</h1>
    <img src="~/img/logo_upla_ingenieria_1_20240528_1234932174.jpg" alt="Login Image" class="mb-4" style="max-width: 200px;">
    <form method="post" action="/Account/Login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Menu">Login</button>
    </form>
</div>
