@{
    ViewData["Title"] = "Modules Page";
}

<link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />


<div class="container">
    <h1 class="text-center display-4">Modules</h1>
    <div class="grid-container">
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Inscripciones Asignaturas</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Cuatrimestre">Cuatrimestre</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Carrera">Carrera</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Grupo">Grupo</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Horario">Horario</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Turno">Turno</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Estudiante">Estudiante</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Docente">Docente</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Niveles">Niveles</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="NumerosAsignaturas">Numeros Asignaturas</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Usuario">Usuario</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Asignatura">Asignatura</a>
        <a class="grid-item" asp-controller="Asignacion" asp-action="index">Asignacion</a>
        <a class="grid-item" asp-controller="PlanEstudio" asp-action="index">Plan Estudios</a>

    </div>
</div>
