@{
    ViewData["Title"] = "Modules Page";
}

<link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />


<div class="container">
    <h1 class="text-center display-4">Modules</h1>
    <div class="grid-container">
        <a class="grid-item" asp-controller="Inscripciones_Asignatura" asp-action="Index">Inscripciones Asignaturas</a>
        <a class="grid-item" asp-controller="Cuatrimestre" asp-action="Index">Cuatrimestre</a>
        <a class="grid-item" asp-controller="Carrera" asp-action="Index">Carrera</a>
        <a class="grid-item" asp-controller="GrupoSeccion" asp-action="Index">Grupo</a>
        <a class="grid-item" asp-controller="Horario" asp-action="Index">Horario</a>
        <a class="grid-item" asp-controller="Turnos" asp-action="Index">Turnos</a>
        <a class="grid-item" asp-controller="Estudiantes" asp-action="Index">Estudiantes</a>
        <a class="grid-item" asp-controller="Docente" asp-action="Index">Docentes</a>
        <a class="grid-item" asp-controller="Niveles" asp-action="index">Niveles</a>
        <a class="grid-item" asp-controller="NumerosAsignaturas" asp-action="index">Numeros Asignaturas</a>
        <a class="grid-item" asp-controller="Usuarios" asp-action="Index">Usuario</a>
        <a class="grid-item" asp-controller="Asignatura" asp-action="index">Asignatura</a>
        <a class="grid-item" asp-controller="Asignacion" asp-action="index">Asignacion</a>
        <a class="grid-item" asp-controller="PlanEstudio" asp-action="index">Plan Estudios</a>
        <a class="grid-item" asp-controller="AsistenciaEstudiantes" asp-action="index">Plan Estudios</a>
    </div>
</div>