@{
    ViewData["Title"] = "Modules Page";
}

<link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />


<div class="container">
    <h1 class="text-center display-4">Modules</h1>
    <div class="grid-container">
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Inscripciones_Asignaturas</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Material_Didactico</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Mensajes</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Niveles</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Numeros_Asignaciones</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Estudiantes</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Docentes</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Horarios</a>
        <a class="grid-item" asp-controller="Proyecto" asp-action="Index">Carrera</a>
    </div>
</div>
