@{
    ViewData["Title"] = "YaTengoSueño";
}

<link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />

<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3">
            @await Html.PartialAsync("_Opciones")
        </aside>
        <div class="col-md-9">
            <img src="~/img/1-facultad-de-ingenieria-900x450.jpg" />
        </div>
    </div>
</div>
