@model IEnumerable<FISCA.Dominio.Entidades.Estudiante>

@{
    ViewData["Title"] = "Estudiantes Inscritos";
}

<h2>Estudiantes Inscritos</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <!-- Agrega más columnas según los datos de Estudiante que desees mostrar -->
            </tr>
        </thead>
        <tbody>
            @foreach (var estudiante in Model)
            {
                <tr>
                    <td>@estudiante.NombresEstudiante</td>
                    <td>@estudiante.ApellidosEstudiante</td>
                    <td>@estudiante.CorreoEstudiante</td>
                    <!-- Agrega más celdas según los datos de Estudiante que desees mostrar -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay estudiantes inscritos en este curso.</p>
}
