@model FISCA.Dominio.Entidades.Docente

<!-- Incluye solo una vez Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- Incluye toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Tus estilos personalizados -->
<link rel="stylesheet" href="~/FISCAapp.Web.styles.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    <!-- Incluye toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <aside class="col-md-2">
            @await Html.PartialAsync("_Opciones")
        </aside>
        <div class="col-md-9">
            <div class="w-100 card border-0 p-4">
                <div class="card-header bg-success bg-gradient m-lg-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="text-white py-2">Actualizar Docente</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body border p-4">
                    <form asp-action="Actualizar" method="post" class="row">
                        <input asp-for="IdDocente" type="hidden" />
                        <div class="p-3">
                            <div asp-validation-summary="All"></div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="NombresDocente" class="form-control border shadow" />
                                <label asp-for="NombresDocente" class="ms-2">Nombres</label>
                                <span asp-validation-for="NombresDocente" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="ApellidosDocente" class="form-control border shadow" />
                                <label asp-for="ApellidosDocente" class="ms-2">Apellidos</label>
                                <span asp-validation-for="ApellidosDocente" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="CedulaDocente" class="form-control border shadow" />
                                <label asp-for="CedulaDocente" class="ms-2">DNI</label>
                                <span asp-validation-for="CedulaDocente" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="CorreoDocente" class="form-control border shadow" />
                                <label asp-for="CorreoDocente" class="ms-2">Correo</label>
                                <span asp-validation-for="CorreoDocente" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="CelularDocente" class="form-control border shadow" />
                                <label asp-for="CelularDocente" class="ms-2">Celular</label>
                                <span asp-validation-for="CelularDocente" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="TelefonoDocente" class="form-control border shadow" />
                                <label asp-for="TelefonoDocente" class="ms-2">Teléfono</label>
                                <span asp-validation-for="TelefonoDocente" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="DireccionDocente" class="form-control border shadow" />
                                <label asp-for="DireccionDocente" class="ms-2">Dirección</label>
                                <span asp-validation-for="DireccionDocente" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="Estado" class="form-control border shadow" />
                                <label asp-for="Estado" class="ms-2">Estado</label>
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>

                            <div class="row pt-2">
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-success w-100">
                                        <i class="bi bi-check-circle"></i> Actualizar
                                    </button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Docente" asp-action="Index" class="btn btn-secondary w-100">
                                        <i class="bi bi-x-circle"></i> Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
