@model FISCA.Dominio.Entidades.Asignacion

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <input asp-for="IdAsignacion" hidden />
            <div class="p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Descripcion" class="form-control border shadow" />
                    <label asp-for="Descripcion" class="ms-2">Descripción</label>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IdDocente" class="form-control border shadow" />
                    <label asp-for="IdDocente" class="ms-2">Docente</label>
                    <span asp-validation-for="IdDocente" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IdAsignatura" class="form-control border shadow" />
                    <label asp-for="IdAsignatura" class="ms-2">Asignatura</label>
                    <span asp-validation-for="IdAsignatura" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IdGrupo" class="form-control border shadow" />
                    <label asp-for="IdGrupo" class="ms-2">Grupo</label>
                    <span asp-validation-for="IdGrupo" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IdTurno" class="form-control border shadow" />
                    <label asp-for="IdTurno" class="ms-2">Turno</label>
                    <span asp-validation-for="IdTurno" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IdHorario" class="form-control border shadow" />
                    <label asp-for="IdHorario" class="ms-2">Horario</label>
                    <span asp-validation-for="IdHorario" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Estado" class="form-control border shadow" />
                    <label asp-for="Estado" class="ms-2">Estado</label>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="NumeroAsignacion" class="form-control border shadow" />
                    <label asp-for="NumeroAsignacion" class="ms-2">Número de Asignación</label>
                    <span asp-validation-for="NumeroAsignacion" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Guardar
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Asignacion" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
