@model IEnumerable<FISCA.Dominio.Entidades.Carrera>

<h2>Lista de Carreras</h2>

<div class="w-5 btn-group" role="group">
    <a asp-controller="Carrera" asp-action="Agregar" class="btn btn-success mx-2">Agregar</a>
</div>

<table class="table table-light table-bordered table-striped">
    <thead>
        <tr>
            <th>ID Carrera</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carrera in Model)
        {
            <tr>
                <td>@carrera.IdCarrera</td>
                <td>@carrera.NombreCarrera</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Carrera" asp-action="Actualizar" asp-route-id="@carrera.IdCarrera" class="btn btn-success mx-2">Actualizar</a>
                        <a asp-controller="Carrera" asp-action="Eliminar" asp-route-id="@carrera.IdCarrera" class="btn btn-danger mx-2">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>